[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-markdown-tables = "*"
recommonmark = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
